@{
    ViewData["Title"] = "Privacy Policy";
}
<h1>@ViewData["Title"]</h1>

<p>Use this page to detail your site's privacy policy.</p>
<div>
    <h1>@Model.dict["info"]</h1>
    <p>@Model.dict["contents"]</p>
</div>